<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>Contact Arrow Photography with comments or enquires</title>
</head>
<body>
<div id="wrapper">    
    <!-- Header starts -->
    <header>
        <h1>Arrow Photography</h1>
        <nav>
            <h2 style="display: none">Main Navigation</h2>
            <ul>    
                <li><a href="index.html">Home</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header ends -->
    
    <!-- Content starts -->
    <div id="content">
        <h2>Contact Arrow Photography</h2>
        <p>
            <a href="http://goo.gl/maps/2a4j0">
                Locate us on Google Maps
            </a>
        </p>
    </div>
    <!-- Content ends -->
    
    <!-- Footer starts -->
    <footer>
        <p>
          &copy;1995 &mdash; 2013 Arrow Photography. All rights reserved. 
          <abbr title="Public Liability Company">P.L.C.</abbr>
        </p>
        <address>
            Hove College,<br />
            48 Cromwell Road<br />
            Brighton &amp; Hove
        </address>
    </footer>
    <!-- Footer ends -->
</div>   
</body>
</html>